In [36]:
import pandas as pd
import numpy as np
data = pd.read_csv('Salary_Data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [41]:
#memisahkan data
x = data['YearsExperience']
y = data['Salary']

# x dirubah ke matriks sebagai atribut agar bisa difit
x = x[:,np.newaxis]

<ipython-input-41-f1da3a3ec09f>:6: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x = x[:,np.newaxis]

In [42]:
#model dengan perkiraan

from sklearn.svm import SVR
model = SVR (C= 1000, gamma = 0.05, kernel ='rbf')
model.fit(x,y)

SVR(C=1000, gamma=0.05)

In [43]:
#model menggunakan Grid Search

from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
model_pertama = SVR()
parameters = {
    'kernel' : ['rbf'],
    'C':[100,1000,10000],
    'gamma' : [0.5, 0.05, 0.005]
}

grid_search = GridSearchCV(model_pertama, parameters)
grid_search.fit(x,y)

#memanggil parameter terbaik
print('parm_terbaik adalah = ', grid_search.best_params_)

parm_terbaik adalah =  {'C': 10000, 'gamma': 0.05, 'kernel': 'rbf'}

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x,y, label = 'Data Asli')
plt.plot(x, model.predict(x), color = 'y', label = "Tanpa Grid Search")
plt.plot(x, model_pertama.predict(x), color = 'r', label = "Dengan Grid Search")
plt.title("Perbandingan dengan Grid Search dan Tanpa Grid Search", color ='white')
plt.legend
plt.show()