In [3]:
import pandas as pd
from kmodes.kmodes import KModes
import matplotlib.pyplot as plt

In [17]:
df=pd.read_excel('kmodes_dataset.xlsx')
df

  PERSON HAIR COLOR EYE COLOR SKIN COLOR
0     P1     Blonde     Amber       Fair
1     P2   Brunette      Gray      Brown
2     P3        Red     Green      Brown
3     P4      Black     Hazel      Brown
4     P5   Brunette     Amber       Fair
5     P6      Black      Gray      Brown
6     P7        Red     Green       Fair
7     P8      Black     Hazel       Fair

In [10]:
km=KModes(n_clusters=3,max_iter=5)
clusters=km.fit_predict(df)
clusters

array([1, 2, 0, 0, 1, 0, 1, 0], dtype=uint16)

In [8]:
print(km.cluster_centroids_)

[['P3' 'Black' 'Hazel' 'Brown']
 ['P1' 'Blonde' 'Amber' 'Fair']
 ['P2' 'Brunette' 'Gray' 'Brown']]

In [14]:
cluster_dict=[]
for c in clusters:
    cluster_dict.append(c)

In [16]:
df['CLUSTER']=cluster_dict
df

  PERSON HAIR COLOR EYE COLOR SKIN COLOR  CLUSTER
0     P1     Blonde     Amber       Fair        1
1     P2   Brunette      Gray      Brown        2
2     P3        Red     Green      Brown        0
3     P4      Black     Hazel      Brown        0
4     P5   Brunette     Amber       Fair        1
5     P6      Black      Gray      Brown        0
6     P7        Red     Green       Fair        1
7     P8      Black     Hazel       Fair        0